{% comment %}
  Shopify Wishlist
  Usage:
    - Markup: {%- render 'button-wishlist', product: product -%}
    - Place this snippet inside your existing product card snippet

  Parameters:
    - product: <Shopify product> (required)
{% endcomment %}

{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'quick-order-list.css' | asset_url | stylesheet_tag }}
{{ 'quantity-popover.css' | asset_url | stylesheet_tag }}
{%- if product.handle != blank -%}
  <button
    type="button"
    aria-label="Add to wishlist"
    class="button-wishlist"
    data-product-handle="{{ product.handle }}"
  >
    {%- render 'icon-heart', class: 'icon-heart' -%}
  </button>
{%- endif -%}
